.hero{
  width:100%;
  height:425px;
  background:url('/assets/img/Hero.jpg');
  background-size:cover !important;
  background-position:center center;
  @media screen and (max-width:768px){
    height:350px;
    background-position: right center !important;
    background:url('/assets/img/Hero-mobile.jpg')
  }
}

.brands{
  @include flex;
  @media screen and (min-width: 767px) and (max-width: 1023px){
    padding-bottom:$padding-mobile;
  }
  .brand{
    margin-right:$padding;
    width:50%;
    position: relative;
    @media screen and (min-width: 767px) and (max-width: 1023px){
      margin-right:$padding-mobile;
      margin-bottom:0;
    }
    @media screen and (max-width:767px){
      width:100%;
      margin-bottom:$padding-half;
    }
    &:last-of-type{
      margin-right:0;
      margin-bottom:0;
    }
    &.brand-freightliner{
      .bg{
        background:url('/assets/img/Freightliner-Image.jpg');
      }
    }
    &.brand-westernstar{
      .bg{
        background:url('/assets/img/Western-Star-Image.jpg');
      }
    }
    .bg{
      width:100%;
      padding-bottom:100%;
      background-size:cover !important;
      background-position:center center;
    }

    &:hover{
      .bg{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
    .logo-wrap{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      z-index:1;
      transition:$transition;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      &:hover{
        background:rgba($red,0.85);
      }
      img{
        z-index:2;
      }
    }
  }
}

.dealership-locations{
  padding-bottom:$padding-half;
  .locations{
    @include flex;
    .dealerships-contact{
      width:45%;
      margin-right:120px;
      @media screen and (min-width:1024px) and (max-width: $container + $padding){
        width:50%;
        margin-right:60px;
      }
      @media screen and (max-width:1023px){
        width:100%;
        margin-right:0;
      }
      .dealerships{
        @include flex;
        .list{
          width:50%;
          margin-right:$padding-half;
          @media screen and (min-width:767px) and (max-width:1023px){
            margin-left:$padding;
            margin-right:$padding;
          }
          h3{
            margin:0;
          }
          p{
            font-weight:600;
          }
          .state{
            padding-bottom:$padding-half;
            .location{
              color:$blue;
              font-size:24px;
              font-weight:700;
              display:block;
            }
          }
        }
      }
      .contact{
        box-sizing:border-box;
        margin-top:$padding-half;
        padding:40px $padding-half $padding-half $padding-half;
        background:url('/assets/img/Contact-Us-CTA-BG.png');
        background-size:cover;
        background-position:center center;
        color:$white;
        font-weight:700;
        font-size:24px;
        @media screen and (max-width:768px){
          padding:$padding-mobile;
          font-size:18px;
        }
        img{
          max-width: 100%;
        }
        .spacer{
          height:4px;
          width:$padding;
          background:$red;
          display:block;
          margin-top:$padding-half/2;
        }
        a{
          display:block;
        }
        p{
          margin:$padding-half/2 0 0 0;
        }
      }
    }
  }
  .map{
    @media screen and (max-width:1023px){
      display: none;
    }
    svg{
      width:500px;
      margin-top:-$padding;
      @media screen and (min-width:1024px) and (max-width: $container + $padding){
        width:400px;
        margin-top:-$padding-half;
      }
      .st3{
        transition: 0.2s ease-in-out;
        stroke:$red !important;
        stroke-width:0px;
        &.active{
          stroke-width:15px;
          &:before{
            stroke:$blue !important;
            stroke-width:15px;
          }
        }
      }
    }
  }
}

.affiliates{
  background:$grey;
  .affiliate-logos{
    @include flex;
    align-items:center;
    justify-content:center;
    .logo{
      flex-basis:50%;
      &:first-of-type{
        padding-right:$padding;
        @media screen and (max-width:768px){
          padding-right:0;
          padding-bottom:$padding;
        }
      }
      &:last-of-type{
        padding-left:$padding;
        @media screen and (max-width:768px){
          padding-left:0;
        }
      }
      &.align-left,
      &.align-right{
        @media screen and (max-width:768px){
          text-align:center !important;
        }
      }
      img{
        @media screen and (max-width:768px){
          max-width: 230px;
        }
      }
    }
  }
}
