<section id="dealership-locations" class="dealership-locations" data-0="opacity:0;" data-center-top="opacity:1;">
  <div class="content padded-bottom">
    <h2 class="align-center">Locations</h2>
    <div class="locations">
      <div class="dealerships-contact">
        <div class="dealerships">
          <div class="list">
            <div class="state">
              <h3>Massachusetts</h3>
              <span class="location" data-location="shrewsbury"><a href="http://www.tristatetruckcenter.com/" target="_blank">Shrewsbury</a></span>
              <span class="location" data-location="tewksbury"><a href="https://www.mctrucks.com/tewksbury-massachusetts-truck-dealer" target="_blank">Tewksbury</a></span>
              <span class="location" data-location="westfield"><a href="https://www.patriotfreightlinertrucks.com/patriot-freightliner-locations/massachusetts-truck-fleet-repair/" target="_blank">Westfield</a></span>
              <p>New Massachusetts Dealership Coming Soon!</p>
            </div>
          </div>
          <div class="list">
            <div class="state">
              <h3>New Hampshire</h3>
              <span class="location" data-location="lancaster"><a href="https://www.mctrucks.com/lancaster-newhampshire-truck-dealer" target="_blank">Lancaster</a></span>
              <span class="location" data-location="manchester"><a href="https://www.mctrucks.com/manchester-new-hampshire-truck-dealer" target="_blank">Manchester</a></span>
              <span class="location" data-location="seabrook"><a href="https://www.mctrucks.com/seabrook-newhampshire-truck-parts-service" target="_blank">Seabrook</a></span>
            </div>
            <div class="state">
              <h3>Vermont</h3>
              <span class="location" data-location="westminster"><a href="https://www.patriotfreightlinertrucks.com/patriot-freightliner-locations/vermont-truck-repair/" target="_blank">Westminster</a></span>
            </div>
          </div>
        </div>
        <div class="contact">
          <img src="/assets/img/We-Know-Trucks-TM.png"/>
          <span class="spacer"></span>
          <p>Contact Us Today!</p>
          <p>
            <a href="tel:888-874-9120">888.874.9120</a>
            <a href="mailto:info@advantagetruckne.com">info@advantagetruckne.com</a>
          </p>

        </div>
      </div>
      <div class="map">
        <%- include map.ejs %>
      </div>
    </div>
  </div>
</section>
